<div class="p-4">
  <h3>List of heroes</h3>

  <ul class="mt-2 list-group">
    <li *ngFor="let hero of heroes" class="list-group-item">{{ hero }}</li>
  </ul>

  <div class="mt-4">
    <h3 *ngIf="removedHero; else nothing">
      Removed heroe: <span class="text-danger">{{ removedHero }}</span>
    </h3>
    <ng-template #nothing>
      <p>No hero has been removed</p>
    </ng-template>

    <button
      *ngIf="heroes.length > 0"
      class="btn btn-outline-danger mt-2"
      (click)="removeLastHero()"
    >
      Remove last hero
    </button>
    <!-- <button class="btn btn-primary mt-2">Add hero</button> -->
  </div>
</div>
